# Ignore pcap file
*.pcap

SketchPadding/
SketchPatternQuery/
SketchProfilePadding/
SketchProfileQuery/
SketchPaddingOffline/
SketchPatternQueryOffline/
SketchPaddingOfflineNew/
SketchPatternQueryOfflineNew/